<%= form_with(model: @mf_tank, local: true, class: "needs-validation", novalidate: true) do |form| %>
    <% if @mf_tank.errors.any? %>
        <div>
            <h4><%= pluralize(@mf_tank.errors.count, "error") %> prohibited this MF tank from being saved:</h4>
            <ul>
                <% @mf_tank.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% tanks = [%w[3 3], %w[4 4]]
       shifts = [%w[A A], %w[B B], %w[C C]] %>

    <div>

        <!-- General Information Card -->
        <div>
            <div>
                <h5>MF Tank Analysis</h5>
            </div>
            <div>
                <div>
                    <div>
                        <%= form.label :date %>
                        <%= form.text_field :date %>
                    </div>
                    <div>
                        <%= form.label :initial_temp %>
                        <%= form.text_field :initial_temp %>
                    </div>
                </div>

                <div>
                    <div>
                        <%= form.label :time %>
                        <%= form.text_field :time %>
                    </div>
                    <div>
                        <%= form.label :shift %>
                        <%= form.select :shift, options_for_select(shifts, @mf_tank.shift), { prompt: :shift } %>
                    </div>
                </div>

                <div>
                    <div>
                        <%= form.label :tank_number %>
                        <%= form.select :tank_number, options_for_select(tanks, @mf_tank.tank_number), { prompt: :tank_number } %>
                    </div>
                    <div>
                        <%= form.label :ph %>
                        <%= form.text_field :ph %>
                    </div>
                </div>

                <div>
                    <div>
                        <%= form.label :viscosity %>
                        <%= form.text_field :viscosity %>
                    </div>
                    <div>
                        <%= form.label :density %>
                        <%= form.text_field :density %>
                    </div>
                </div>

                <div>
                    <div>
                        <%= form.label 'Cloudy Time' %>
                        <%= form.text_field :reaction_time %>
                    </div>
                    <div>
                        <%= form.label :solid_content %>
                        <%= form.text_field :solid_content %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div>
            <%= form.submit "Save" %>
        </div>
    </div>
<% end %>
