<div id="<%= dom_id mf_tank %>">
  <p>
    <strong>Date:</strong>
    <%= mf_tank.date %>
  </p>

  <p>
    <strong>Initial temp:</strong>
    <%= mf_tank.initial_temp %>
  </p>

  <p>
    <strong>Tank number:</strong>
    <%= mf_tank.tank_number %>
  </p>

  <p>
    <strong>Ph:</strong>
    <%= mf_tank.ph %>
  </p>

  <p>
    <strong>Viscosity:</strong>
    <%= mf_tank.viscosity %>
  </p>

  <p>
    <strong>Density:</strong>
    <%= mf_tank.density %>
  </p>

  <p>
    <strong>Reaction time:</strong>
    <%= mf_tank.reaction_time %>
  </p>

  <p>
    <strong>Solid content:</strong>
    <%= mf_tank.solid_content %>
  </p>

</div>
