<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">MF Tank Analysis</h4>
        </div>
        <div class="card-body">
            <dl class="row">

                <div class="col">
                    <dt class="col">Date:</dt>
                    <dd class="col"><%= mf_tank.date %></dd>

                    <dt class="col">Shift:</dt>
                    <dd class="col"><%= mf_tank.shift %></dd>

                    <dt class="col">Initial Temp:</dt>
                    <dd class="col"><%= mf_tank.initial_temp %> °C</dd>

                    <dt class="col">Tank Number:</dt>
                    <dd class="col"><%= mf_tank.tank_number %></dd>

                    <dt class="col">Cloudy Time:</dt>
                    <dd class="col"><%= mf_tank.reaction_time %> s</dd>

                </div>

                <div class="col tex">

                    <dt class="col">Time:</dt>

                    <dd class="col"><%= mf_tank.time %></dd>

                    <dt class="col">pH:</dt>
                    <dd class="col"><%= mf_tank.ph %></dd>

                    <dt class="col">Viscosity:</dt>
                    <dd class="col"><%= mf_tank.viscosity %> s</dd>

                    <dt class="col">Density:</dt>
                    <dd class="col"><%= mf_tank.density %> gr/ml</dd>

                    <dt class="col">Solid Content:</dt>
                    <dd class="col">% <%= mf_tank.solid_content %></dd>
                </div>


            </dl>
        </div>
    </div>
</div>
