<div class="container">

    <% if notice.present? %>
        <br>
        <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <br>

</div>

<%= render @mf_tank %>

<div>
  <%= link_to "Edit this mf tank", edit_mf_tank_path(@mf_tank) %> |
  <%= link_to "Back to mf tanks", mf_tanks_path %>

  <%= button_to "Destroy this mf tank", @mf_tank, method: :delete %>
</div>
