<%= form_with(model: @gravure, local: true) do |form| %>
    <% if @gravure.errors.any? %>
        <div>
            <h4><%= pluralize(@gravure.errors.count, "error") %> prohibited this gravure from being saved:</h4>
            <ul>
                <% @gravure.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <div>
            <%= form.label :date %>
            <%= form.text_field :date, required: false %>
        </div>

        <div>
            <%= form.label :time %>
            <%= form.text_field :time, required: false %>
        </div>

        <div>
            <%= form.label :line_number %>
            <%= form.select :line_number, options_for_select(lines, params[:line_number]), { prompt: :line_number }, required: false %>
        </div>

        <div>
            <%= form.label :high %>
            <%= form.text_field :high %>
        </div>

        <div>
            <%= form.label :low %>
            <%= form.text_field :low %>
        </div>
    </div>

    <div>
        <div>
            <%= form.submit 'Save' %>
        </div>
    </div>
<% end %>
