<div class="container">
    <%= form_with(model: @gravure) do |form| %>
        <% if @gravure.errors.any? %>
            <div class="alert alert-danger">
                <h4><%= pluralize(@gravure.errors.count, "error") %> prohibited this gravure from being saved:</h4>
                <ul>
                    <% @gravure.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="row">
            <!-- Date Field -->
            <div class="col-md-6">
                <%= form.label :date, class: "form-label" %>
                <%= default_date = if params[:date].present?
                                     Date.parse(params[:date]).to_parsi
                                   else
                                     @gravure.new_record? ? Date.today.to_parsi : Date.parse(@gravure.date).to_parsi
                                   end
                    form.text_field :date,
                                    value: default_date,
                                    class: "form-control text-md-center", required: false %>
            </div>

            <!-- Time Field -->
            <div class="col-md-6">
                <%= form.label :time, class: "form-label" %>
                <%= default_time = if params[:time].present?
                                     Time.parse(params[:time].to_s).strftime("%H:%M")
                                   else
                                     @gravure.new_record? ? Time.now.strftime("%H:%M") : @gravure.time.strftime("%H:%M")
                                   end
                    form.text_field :time,
                                    value: default_time,
                                    class: "form-control text-md-center", required: false %>
            </div>
        </div>

        <div class="row mt-3">
            <!-- High Field -->
            <div class="col-md-6">
                <%= form.label :high, class: "form-label" %>
                <%= form.text_field :high, class: "form-control text-md-center" %>
            </div>

            <!-- Low Field -->
            <div class="col-md-6">
                <%= form.label :low, class: "form-label" %>
                <%= form.text_field :low, class: "form-control text-md-center" %>
            </div>
        </div>

        <div class="row mt-4">
            <!-- Submit Button -->
            <div class="col">
                <%= form.submit 'Save', class: "btn btn-primary w-100" %>
            </div>
        </div>
    <% end %>

</div>