<div id="<%= dom_id temperature %>">
  <p>
    <strong>Uf:</strong>
    <%= temperature.uf %>
  </p>

  <p>
    <strong>Mf:</strong>
    <%= temperature.mf %>
  </p>

  <p>
    <strong>Mf paper:</strong>
    <%= temperature.mf_paper %>
  </p>

  <p>
    <strong>Pr paper:</strong>
    <%= temperature.pr_paper %>
  </p>

  <p>
    <strong>Chiller:</strong>
    <%= temperature.chiller %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= temperature.time %>
  </p>

</div>
