<p style="color: green"><%= notice %></p>

<%= render @oven %>

<div>
  <%= link_to "Edit this oven", edit_oven_path(@oven) %> |
  <%= link_to "Back to ovens", ovens_path %>

  <%= button_to "Destroy this oven", @oven, method: :delete %>
</div>
