<%= form_with model: @stop_reason, local: true, class: "needs-validation" do |form| %>


    <div class="container">


        <div class="row">
            <div class="col"><h1 class="mb-4">New Stop Reason</h1></div>
        </div>

        <div class="mb-3">
            <%= form.label :reason, "Stop Reason (English)", class: "form-label" %>
            <%= form.text_field :reason, class: "form-control", placeholder: "Enter English reason", required: true %>
        </div>

        <div class="mb-3">
            <%= form.label :persian_reason, "Stop Reason (Persian)", class: "form-label" %>
            <%= form.text_field :persian_reason, class: "form-control", placeholder: "Enter Persian translation", required: true %>
        </div>

        <div class="row">
            <div class="col"><h1 class="mb-4"></h1></div>
            <div class="col d-flex justify-content-end">
                <%= button_tag type: 'submit', class: 'btn btn-lg btn-dark rounded-pill' do %>
                    Save <i class="ms-2 bi bi-floppy-fill"></i>
                <% end %>
            </div>
        </div>
</div>

<% end %>
