<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Shift:</strong>
    <%= user.shift %>
  </p>

  <p>
    <strong>Isadmin:</strong>
    <%= user.isAdmin %>
  </p>

</div>
