<div class="col-md-auto text-center border p-0" style="width: 60px;"><%= slot %></div>

<div class="col-auto text-center border border-1 p-0" style="width: 50px">
    <% if pallets_by_slot[slot] %>
        <div class="<%= pallets_by_slot[slot].status.to_s.downcase == 'approved' ? 'bg-success-subtle' : 'bg-danger-subtle' %>">
            <%= link_to pallets_by_slot[slot].pallet_number, pallet_path(pallets_by_slot[slot]), class: "nav-link p-0" %>
        </div>
    <% else %>
        <%= link_to '', new_pallet_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus' %>
    <% end %>
</div>

<div class="col-md-1 text-center border border-1 p-0">
    <% if pallets_by_slot[slot] %>
        <div class="<%= pallets_by_slot[slot].status.to_s.downcase == 'approved' ? 'bg-success-subtle' : 'bg-danger-subtle' %>">
            <%= link_to pallets_by_slot[slot].pallet_number, pallet_path(pallets_by_slot[slot]), class: "nav-link p-0" %>
        </div>
    <% else %>
        <%= link_to '', new_pallet_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus' %>
    <% end %>
</div>

<div class="col-1 text-center border border-1 p-0 d-flex justify-content-center align-items-center">
    <% if reaction_times_by_slot[slot] %>
        <div class="d-flex justify-content-between w-100">
            <div class="text-center flex-fill border-end"><%= reaction_times_by_slot[slot].gel_time %></div>
            <div class="text-center flex-fill"><%= reaction_times_by_slot[slot].cloudy_time %></div>
        </div>
    <% else %>
        <%= link_to '', new_reaction_time_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus' %>
    <% end %>
</div>

<div class="col-1 text-center border border-1 p-0 d-flex justify-content-center align-items-center">
    <% if volatile_contents_by_slot[slot] %>
        <div class="row justify-content-between w-100">
            <div class="col-1 text-center flex-fill border-end"><%= volatile_contents_by_slot[slot].min %></div>
            <div class="col-1 text-center flex-fill"><%= volatile_contents_by_slot[slot].max %></div>
        </div>
    <% else %>
        <%= link_to '', new_volatile_content_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus' %>
    <% end %>
</div>

<div class="col-3 text-center border p-0 border-1 d-flex flex-column justify-content-around align-items-center ">
    <% if temperatures_by_slot[slot] %>
        <div class="row justify-content-between w-100 p-0">
            <div class="col-1 text-center flex-fill border-end"><%= temperatures_by_slot[slot].uf %></div>
            <div class="col-1 text-center flex-fill border-end"><%= temperatures_by_slot[slot].mf %></div>
            <div class="col-1 text-center flex-fill border-end"><%= temperatures_by_slot[slot].mf_paper %></div>
            <div class="col-1 text-center flex-fill border-end"><%= temperatures_by_slot[slot].pr_paper %></div>
            <div class="col-1 text-center flex-fill"><%= temperatures_by_slot[slot].chiller %></div>
        </div>
    <% else %>
        <%= link_to '', new_temperature_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus' %>
    <% end %>
</div>

<div class="col-1 text-center border border-1 p-0 d-flex justify-content-center align-items-center">
    <% if gravures_by_slot[slot] %>
        <div class="d-flex justify-content-between w-100">
            <div class="text-center flex-fill border-end"><%= gravures_by_slot[slot].high %></div>
            <div class="text-center flex-fill"><%= gravures_by_slot[slot].low %></div>
        </div>
    <% else %>
        <%= link_to '', new_gravure_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus' %>
    <% end %>
</div>

<div class="col-4 text-center border border-1 p-0 d-flex flex-column justify-content-around align-items-center">
    <% if oven_temps_by_slot[slot] %>
        <div class="d-flex justify-content-between w-100">
            <% (1..11).each do |i| %>

                <div class="text-center border-end w-100">
                    <% oven_column = "oven_#{i}" %>
                    <%= oven_temps_by_slot[slot][oven_column] %>
                </div>
            <% end %>
        </div>
    <% else %>
        <%= link_to '', new_oven_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus' %>
    <% end %>

</div>
