<div class="container-fluid">

    <div class="container tools">
        <div class="row mb-4">
            <div class="col">
                <%= form_with url: schedules_path, method: :get, local: true do |form| %>
                    <div class="d-flex align-items-center justify-content-center">
                        <%= form.label :shift, "Select Shift", class: 'me-2 w-auto col-1' %>
                        <%= form.select :shift, options_for_select([%w[Day day], %w[Night night]], @shift), {}, { class: 'form-select me-2' } %>

                        <%= form.label :date, "Select Date", class: 'me-2 w-auto col-1' %>
                        <%= form.date_field :date, value: @date, class: 'form-control me-2' %>

                        <%= form.submit 'Filter', class: 'btn btn-primary col-1 tools' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="m-4">
        <div class="row justify-content-center">
            <div class="col-md-auto text-center  border border-1 align-content-center" style="width: 60px;">Time</div>
            <div class="col-md-auto text-center  border border-1 align-content-center" style="width: 50px; font-size: x-small">Line
                Speed
            </div>
            <div class="col-md-1 text-center  border border-1 align-content-center">Pallet #</div>
            <div class="col-md-1 text-center border border-1 d-flex flex-column justify-content-around align-items-center ">
                <div class="text-wrap">Reaction Times</div>
                <div class="row">
                    <div class="col-1 text-center flex-fill border-end">G.T</div>
                    <div class="col-1 text-center flex-fill">C.T</div>
                </div>
            </div>
            <div class="col-1 text-center border border-1 d-flex flex-column justify-content-around align-items-center ">
                <div>Volatile Content</div>
                <div class="row w-100  p-0">
                    <div class="col-1 text-start flex-fill border-end p-0">Min</div>
                    <div class="col-1 text-center flex-fill p-0">Max</div>
                </div>
            </div>
            <div class="col-3 text-center border p-0 border-1 d-flex flex-column justify-content-around align-items-center ">
                <div>Temperatures</div>
                <div class="row justify-content-between w-100 p-0">
                    <div class="col-1 text-center flex-fill border-end">UF</div>
                    <div class="col-1 text-center flex-fill border-end">MF</div>
                    <div class="col-1 text-center flex-fill border-end">MF Paper</div>
                    <div class="col-1 text-center flex-fill border-end">PR Paper</div>
                    <div class="col-1 text-center flex-fill">Chiller</div>
                </div>
            </div>
            <div class="col-1 text-center border border-1 d-flex flex-column justify-content-around align-items-center ">
                <div>Gravures</div>
                <div class="d-flex justify-content-between w-100">
                    <div class="text-center flex-fill border-end">H</div>
                    <div class="text-center flex-fill">L</div>
                </div>
            </div>
            <div class="col-4 text-center border p-0 border-1 d-flex flex-column justify-content-around align-items-center ">
                <div>Ovens' Temperatures</div>
                <div class="d-flex justify-content-between w-100">
                    <% (1..11).each do |i| %>
                        <div class="text-center border-end w-100"><%= i %></div>
                    <% end %>
                </div>
            </div>
        </div>
        <% @time_slots.each do |slot| %>
            <div class="row justify-content-center">
                <%= render partial: 'time_slot_row', locals: { slot: slot, pallets_by_slot: @pallets_by_slot, reaction_times_by_slot: @reaction_times_by_slot, volatile_contents_by_slot: @volatile_contents_by_slot, temperatures_by_slot: @temperatures_by_slot, gravures_by_slot: @gravures_by_slot, oven_temps_by_slot: @oven_temps_by_slot } %>
            </div>
        <% end %>
    </div>

</div>
