<div class="container-fluid d-flex justify-content-center flex-column align-content-center" style="font-size:small">


    <div class=" d-flex justify-content-center align-content-center text-center mb-2">
        <button class=" d-flex gap-4 btn btn-light btn-outline w-100 justify-content-around border bg-light border-0" type="button" data-bs-toggle="modal" data-bs-target="#time_modal" aria-expanded="false" aria-controls="collapseExample">
            <span> Shift: <%= @shift_name %>  </span>
            <span> Time: <%= @shift.to_s.capitalize %>  </span>
            <span> Line: <%= @line_number %>  </span>
            <span> <%= to_parsi(Date.parse(@date)) %> </span>
        </button>
    </div>

    <!-- app/views/your_view.html.erb -->
    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered text-center table-striped">
            <%= render 'table_headers' %>
            <tbody>
                <% @time_slots.each do |slot| %>
                    <tr>
                        <td><%= slot %></td>

                        <!-- Pallet links -->
                        <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @pallets_by_slot, attribute: :line_speed, edit_path: ->(pallet) { pallet_path(pallet) }, new_path: ->(slot) { new_pallet_path(time: slot, date: @date, line_number: @line_number) } } %>
                        <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @pallets_by_slot, attribute: :pallet_number, edit_path: ->(pallet) { edit_pallet_path(pallet) }, new_path: ->(slot) { new_pallet_path(time: slot, date: @date, line_number: @line_number) } } %>
                        <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @pallets_by_slot, attribute: :color_number, edit_path: ->(pallet) { pallet_path(pallet) }, new_path: ->(slot) { new_pallet_path(time: slot, date: @date, line_number: @line_number) } } %>

                        <!-- Reaction Times -->
                        <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @reaction_times_by_slot, attribute: :gel_time, edit_path: ->(rt) { edit_reaction_time_path(rt) }, new_path: ->(slot) { new_reaction_time_path(time: slot, date: @date, line_number: @line_number) } } %>
                        <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @reaction_times_by_slot, attribute: :cloudy_time, edit_path: ->(rt) { edit_reaction_time_path(rt) }, new_path: ->(slot) { new_reaction_time_path(time: slot, date: @date, line_number: @line_number) } } %>

                        <!-- Volatile Content -->
                        <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @volatile_contents_by_slot, attribute: :min, edit_path: ->(vc) { edit_volatile_content_path(vc) }, new_path: ->(slot) { new_volatile_content_path(time: slot, date: @date, line_number: @line_number) } } %>
                        <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @volatile_contents_by_slot, attribute: :max, edit_path: ->(vc) { edit_volatile_content_path(vc) }, new_path: ->(slot) { new_volatile_content_path(time: slot, date: @date, line_number: @line_number) } } %>

                        <!-- Temperatures -->
                        <% [:uf, :mf, :mf_paper, :pr_paper, :chiller].each do |temp_type| %>
                            <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @temperatures_by_slot, attribute: temp_type, edit_path: ->(temp) { edit_temperature_path(temp) }, new_path: ->(slot) { new_temperature_path(time: slot, date: @date, line_number: @line_number) } } %>
                        <% end %>

                        <!-- Gravures -->
                        <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @gravures_by_slot, attribute: :high, edit_path: ->(gravure) { edit_gravure_path(gravure) }, new_path: ->(slot) { new_gravure_path(time: slot, date: @date, line_number: @line_number) } } %>
                        <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @gravures_by_slot, attribute: :low, edit_path: ->(gravure) { edit_gravure_path(gravure) }, new_path: ->(slot) { new_gravure_path(time: slot, date: @date, line_number: @line_number) } } %>

                        <!-- Ovens' Temperatures -->
                        <% (1..11).each do |i| %>
                            <%= render partial: 'shared/table_cell', locals: { slot: slot, data_by_slot: @oven_temps_by_slot, attribute: "oven_#{i}", edit_path: ->(oven) { edit_oven_path(oven) }, new_path: ->(slot) { new_oven_path(time: slot, date: @date, line_number: @line_number) } } %>
                        <% end %>

                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>



    <div class="modal fade " id="time_modal" tabindex="-1" aria-labelledby="time_modalLabel" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="time_modalLabel">Date and Shift</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= render 'date_form' %>
                </div>
            </div>
        </div>
    </div>


</div>
