<div class="container-fluid d-flex justify-content-center flex-column align-content-center" style="font-size:small">


    <div class=" d-flex justify-content-center align-content-center text-center mb-2">
        <button class=" d-flex gap-4 btn btn-light btn-outline w-100 justify-content-around border bg-light border-0" type="button" data-bs-toggle="modal" data-bs-target="#time_modal" aria-expanded="false" aria-controls="collapseExample">
            <span> Shift: <%= @shift_name %>  </span>
            <span> Time: <%= @shift.to_s.capitalize %>  </span>
            <span> Line: <%= @line_number %>  </span>
            <span> <%= to_parsi(Date.parse(@date)) %> </span>
        </button>
    </div>

    <%= render 'table_content' %>

    <div class="modal fade " id="time_modal" tabindex="-1" aria-labelledby="time_modalLabel" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="time_modalLabel">Date and Shift</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= render 'date_form' %>
                </div>
            </div>
        </div>
    </div>


</div>
