<div class="container-fluid">
    <!-- Header Row -->
    <div class="row">
        <div class="col-md-auto text-center p-0 border border-1 d-flex justify-content-center align-items-center" style="width: 60px;">
            Time
        </div>
        <div class="col-md-1 text-center p-0 border border-1 d-flex justify-content-center align-items-center">
            Pallet #
        </div>
        <div class="col-1 text-center border border-1 d-flex flex-column justify-content-around align-items-center p-0">
            <div class="row d-flex justify-content-center align-items-center">
                Reaction Times
            </div>
            <div class="d-flex justify-content-between w-100">
                <div class="text-center flex-fill border-end w-100">Gel</div>
                <div class="text-center flex-fill w-100">Cloudy</div>
            </div>
        </div>
        <div class="col-1 text-center border border-1 d-flex flex-column justify-content-around align-items-center p-0">
            <div class="row d-flex justify-content-center align-items-center">
                Volatile Content
            </div>
            <div class="d-flex justify-content-between w-100">
                <div class="text-center flex-fill border-end w-100">Min</div>
                <div class="text-center flex-fill w-100">Max</div>
            </div>
        </div>

        <!-- Temperatures Header -->
        <div class="col-3 text-center border border-1 d-flex flex-column justify-content-around align-items-center p-0">
            <div class="row d-flex justify-content-center align-items-center">
                Temperatures
            </div>
            <div class="d-flex justify-content-between w-100">
                <div class="text-center flex-fill border-end w-100">UF</div>
                <div class="text-center flex-fill border-end w-100">MF</div>
                <div class="text-center flex-fill border-end w-100">MF Paper</div>
                <div class="text-center flex-fill border-end w-100">PR Paper</div>
                <div class="text-center flex-fill w-100">Chiller</div>
            </div>
        </div>

        <div class="col-1 text-center border border-1 d-flex flex-column justify-content-around align-items-center p-0">
            <div class="row d-flex justify-content-center align-items-center">
                Gravures
            </div>
            <div class="d-flex justify-content-between w-100">
                <div class="text-center flex-fill border-end w-100">H</div>
                <div class="text-center flex-fill w-100">L</div>
            </div>
        </div>

        <div class="col-4 text-center border border-1 d-flex flex-column justify-content-around align-items-center p-0">
            <div class="row d-flex justify-content-center align-items-center">
                Ovens' Temperatures
            </div>
            <div class="d-flex justify-content-between w-100">
                <div class="text-center border-end w-100">01</div>
                <div class="text-center border-end w-100">02</div>
                <div class="text-center border-end w-100">03</div>
                <div class="text-center border-end w-100">04</div>
                <div class="text-center border-end w-100">05</div>
                <div class="text-center border-end w-100">06</div>
                <div class="text-center border-end w-100">07</div>
                <div class="text-center border-end w-100">08</div>
                <div class="text-center border-end w-100">09</div>
                <div class="text-center border-end w-100">10</div>
                <div class="text-center w-100">11</div>
            </div>
        </div>
    </div>

    <!-- Data Rows -->
    <% @time_slots_day.each do |slot| %>
        <div class="row">
            <!-- Time Slot -->
            <div class="col-md-auto text-center border p-0" style="width: 60px;">
                <%= slot %>
            </div>

            <!-- Pallet Number -->
            <div class="col-md-1 text-center border border-1 p-0">
                <% if @pallets_by_slot[slot] %>
                    <div class="<%= @pallets_by_slot[slot].status.to_s.downcase == 'approved' ? 'bg-success-subtle' : 'bg-danger-subtle' %>">
                        <%= link_to @pallets_by_slot[slot].pallet_number, pallet_path(@pallets_by_slot[slot]), class: "nav-link p-0" %>
                    </div>
                <% else %>
                    <div>
                        <%= link_to '', new_pallet_path, class: 'dropdown-item bi bi-plus' %>
                    </div>
                <% end %>
            </div>

            <!-- Reaction Times -->
            <div class="col-1 text-center border border-1 p-0 d-flex justify-content-center align-items-center">
                <% if @reaction_times_by_slot[slot] %>
                    <div class="d-flex justify-content-between w-100">
                        <div class="text-center flex-fill border-end"><%= @reaction_times_by_slot[slot].gel_time %></div>
                        <div class="text-center flex-fill"><%= @reaction_times_by_slot[slot].cloudy_time %></div>
                    </div>
                <% else %>
                    <!-- For Reaction Times -->
                    <%= link_to '', new_reaction_time_path(time: slot), class: 'dropdown-item bi bi-plus' %>

                <% end %>
            </div>

            <!-- Volatile Content -->
            <div class="col-1 text-center border border-1 p-0 d-flex justify-content-center align-items-center">
                <% if @volatile_contents_by_slot[slot] %>
                    <div class="d-flex justify-content-between w-100">
                        <div class="text-center flex-fill border-end"><%= @volatile_contents_by_slot[slot].min %></div>
                        <div class="text-center flex-fill"><%= @volatile_contents_by_slot[slot].max %></div>
                    </div>
                <% else %>
                    <%= link_to '', new_volatile_content_path, class: 'dropdown-item bi bi-plus' %>
                <% end %>
            </div>

            <!-- Temperatures Data -->
            <div class="col-3 text-center border border-1 p-0 d-flex justify-content-around align-items-center">
                <% if @temperatures_by_slot[slot] %>
                    <div class="d-flex justify-content-between w-100">
                        <div class="text-center flex-fill border-end"><%= @temperatures_by_slot[slot].uf %></div>
                        <div class="text-center flex-fill border-end"><%= @temperatures_by_slot[slot].mf %></div>
                        <div class="text-center flex-fill border-end"><%= @temperatures_by_slot[slot].mf_paper %></div>
                        <div class="text-center flex-fill border-end"><%= @temperatures_by_slot[slot].pr_paper %></div>
                        <div class="text-center flex-fill"><%= @temperatures_by_slot[slot].chiller %></div>
                    </div>
                <% else %>
                    <%= link_to '', new_temperature_path, class: 'dropdown-item bi bi-plus' %>
                <% end %>
            </div>

            <!-- Gravures Data -->
            <div class="col-1 text-center border border-1 p-0 d-flex justify-content-center align-items-center">
                <% if @gravures_by_slot[slot] %>
                    <div class="d-flex justify-content-between w-100">
                        <div class="text-center flex-fill border-end"><%= @gravures_by_slot[slot].high %></div>
                        <div class="text-center flex-fill"><%= @gravures_by_slot[slot].low %></div>
                    </div>
                <% else %>
                    <%= link_to '', new_gravure_path, class: 'dropdown-item bi bi-plus' %>
                <% end %>
            </div>
            <!-- Ovens Temp Data -->
            <div class="col-4 text-center border border-1 d-flex flex-column justify-content-around align-items-center p-0">
                <% if @oven_temps_by_slot[slot] %>
                    <div class="d-flex justify-content-between w-100">
                        <% (1..11).each do |i| %>
                            <div class="text-center border-end w-100">
                                <% if i == @oven_temps_by_slot[slot].oven_number %>
                                    <%= @oven_temps_by_slot[slot].temperature.to_i %>
                                <% else %>
                                    &nbsp;
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                <% else %>
                    <%= link_to '', new_oven_temp_path, class: 'dropdown-item bi bi-plus' %>
                <% end %>
            </div>

        </div>
    <% end %>
</div>
