<div class="container-fluid " style="font-size:small">

    <p class="d-inline-flex gap-1 w-100">
        <button class="btn btn-light btn-outline w-100" type="button" data-bs-toggle="modal" data-bs-target="#time_modal" aria-expanded="false" aria-controls="collapseExample">
            <span class="me-2"> Shift: <%= @shift_name %>  </span>
            <span class="me-2"> Line: <%= @line_number %>  </span>
            <span class="me-2"> Date: <%= to_parsi(Date.parse(@date)) %> </span>
            <span class="ms-2 bi bi-calendar-check"></span>
        </button>
    </p>
    <div class="modal fade" id="time_modal" tabindex="-1" aria-labelledby="time_modalLabel" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="time_modalLabel">Date And Shift</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= render 'date_form' %>
                </div>
            </div>
        </div>
    </div>

    <div class="m-2 table-responsive">
        <table class="table table-sm table-hover table-bordered text-center table-striped">
            <%= render 'table_headers' %>
            <tbody>
                <% @time_slots.each do |slot| %>
                    <tr>
                        <td><%= slot %></td>

                        <td class="text-center">
                            <% if @pallets_by_slot[slot] %>
                                <div>
                                    <%= link_to @pallets_by_slot[slot].line_speed, pallet_path(@pallets_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_pallet_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <td class="text-center">
                            <% if @pallets_by_slot[slot] %>
                                <div class="<%= @pallets_by_slot[slot].status.to_s.downcase == 'approved' ? 'bg-success-subtle' : 'bg-danger-subtle' %>">
                                    <%= link_to @pallets_by_slot[slot].pallet_number, edit_pallet_path(@pallets_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_pallet_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <td class="text-center">
                            <% if @pallets_by_slot[slot] %>
                                <div>
                                    <%= link_to @pallets_by_slot[slot].color_number, pallet_path(@pallets_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_pallet_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <td class="text-center">
                            <% if @reaction_times_by_slot[slot] %>
                                <div class="text-center">
                                    <%= link_to @reaction_times_by_slot[slot].gel_time, edit_reaction_time_path(@reaction_times_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_reaction_time_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus  tools' %>
                            <% end %>
                        </td>

                        <td class="text-center">
                            <% if @reaction_times_by_slot[slot] %>
                                <div class="text-center">
                                    <%= link_to @reaction_times_by_slot[slot].cloudy_time, edit_reaction_time_path(@reaction_times_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_reaction_time_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <!-- Volatile Content -->
                        <td class="text-center">
                            <% if @volatile_contents_by_slot[slot] %>
                                <div class="text-center">
                                    <%= link_to @volatile_contents_by_slot[slot].min, edit_volatile_content_path(@volatile_contents_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_volatile_content_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <td class="text-center">
                            <% if @volatile_contents_by_slot[slot] %>
                                <div class="text-center">
                                    <%= link_to @volatile_contents_by_slot[slot].max, edit_volatile_content_path(@volatile_contents_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_volatile_content_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <!-- Temperatures -->
                        <td class="text-center">
                            <% if @temperatures_by_slot[slot] %>
                                <div>
                                    <%= link_to @temperatures_by_slot[slot].uf, edit_temperature_path(@temperatures_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_temperature_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <td class="text-center">
                            <% if @temperatures_by_slot[slot] %>
                                <div>
                                    <%= link_to @temperatures_by_slot[slot].mf, edit_temperature_path(@temperatures_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_temperature_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <td class="text-center">
                            <% if @temperatures_by_slot[slot] %>
                                <div>
                                    <%= link_to @temperatures_by_slot[slot].mf_paper, edit_temperature_path(@temperatures_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_temperature_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <td class="text-center">
                            <% if @temperatures_by_slot[slot] %>
                                <div>
                                    <%= link_to @temperatures_by_slot[slot].pr_paper, edit_temperature_path(@temperatures_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_temperature_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <td class="text-center">
                            <% if @temperatures_by_slot[slot] %>
                                <div>
                                    <%= link_to @temperatures_by_slot[slot].chiller, edit_temperature_path(@temperatures_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_temperature_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <!-- Gravures -->
                        <td class="text-center">
                            <% if @gravures_by_slot[slot] %>
                                <div>
                                    <%= link_to @gravures_by_slot[slot].high, edit_gravure_path(@gravures_by_slot[slot]), class: "nav-link p-0" %>
                                </div>
                            <% else %>
                                <%= link_to '', new_gravure_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <td class="text-center">
                            <% if @gravures_by_slot[slot] %>
                                <%= link_to @gravures_by_slot[slot].low, edit_gravure_path(@gravures_by_slot[slot]), class: "nav-link p-0" %>
                            <% else %>
                                <%= link_to '', new_gravure_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus tools' %>
                            <% end %>
                        </td>

                        <!-- Ovens' Temperatures -->
                        <% (1..11).each do |i| %>
                            <td class="text-center">
                                <% if @oven_temps_by_slot[slot] %>
                                    <%= link_to @oven_temps_by_slot[slot].send("oven_#{i}"), edit_oven_path(@oven_temps_by_slot[slot]), class: "nav-link p-0" %>
                                <% else %>
                                    <%= link_to '', new_oven_path(time: slot, date: params[:date].present? ? params[:date] : Date.today), class: 'dropdown-item bi bi-plus  tools' %>
                                <% end %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
