<%= form_with(model: production_day, local: true, class: "needs-validation", novalidate: true) do |form| %>
    <% if production_day.errors.any? %>
        <div class="alert alert-danger">
            <h4 class="alert-heading"><%= pluralize(production_day.errors.count, "error") %> prohibited this production day from being saved:</h4>
            <ul>
                <% production_day.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="container">

        <!-- General Information Card -->
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Production Day Information</h5>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <%= form.label :info, class: "form-label" %>

                    <div class="col-md-12" dir="rtl">
                        <%= form.text_area :info, class: "form-control", rows: 3 %>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex mt-3 sticky-bottom bg-white pt-2 pb-2">
            <%= form.submit "Save", class: "btn btn-primary flex-fill" %>
        </div>

    </div>
<% end %>
