<div id="<%= dom_id production_day %>">
    <p>
        <strong>Production date:</strong>
        <%= production_day.date %>
    </p>

    <p>
        <strong>Info:</strong>
        <%= production_day.info %>
    </p>

    <p>
        <strong>Stopped pallets count:</strong>
        <%= production_day.stopped_pallets_count %>
    </p>

    <p >
        <strong>Approved pallets count:</strong>
        <%= production_day.approved_pallets_count %>
    </p>

</div>
