<%= form_with(model: @resin_program, class: "container mt-4") do |form| %>
    <% if @resin_program.errors.any? %>
        <div class="alert alert-danger">
            <h4 class="alert-heading"><%= pluralize(@resin_program.errors.count, "error") %> prohibited this resin program from being saved:</h4>
            <ul>
                <% @resin_program.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row mb-3">
        <div class="col-md-6">
            <%= form.label :date, class: "form-label text-uppercase" %>
            <%= form.text_field :date, class: "form-control" %>
        </div>
        <div class="col-md-6">
            <%= form.label :time, class: "form-label text-uppercase" %>
            <%= form.text_field :time, class: "form-control" %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <%= form.label :uf_wlf, class: "form-label text-uppercase" %>
            <%= form.text_field :uf_wlf, class: "form-control" %>
        </div>
        <div class="col-md-6">
            <%= form.label :uf_837, class: "form-label text-uppercase" %>
            <%= form.text_field :uf_837, class: "form-control" %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <%= form.label :uf_1448, class: "form-label text-uppercase" %>
            <%= form.text_field :uf_1448, class: "form-control" %>
        </div>
        <div class="col-md-6">
            <%= form.label :mf_es700, class: "form-label text-uppercase" %>
            <%= form.text_field :mf_es700, class: "form-control" %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <%= form.label :mf_es501, class: "form-label text-uppercase" %>
            <%= form.text_field :mf_es501, class: "form-control" %>
        </div>
        <div class="col-md-6">
            <%= form.label :mf_1010, class: "form-label text-uppercase" %>
            <%= form.text_field :mf_1010, class: "form-control" %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <%= form.label :mf_837, class: "form-label text-uppercase" %>
            <%= form.text_field :mf_837, class: "form-control" %>
        </div>
        <div class="col-md-6">
            <%= form.label :mf_1014, class: "form-label text-uppercase" %>
            <%= form.text_field :mf_1014, class: "form-control" %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <%= form.label :uf_tank_num, class: "form-label text-uppercase" %>
            <%= form.text_field :uf_tank_num, class: "form-control" %>
        </div>
        <div class="col-md-6">
            <%= form.label :mf_tank_num, class: "form-label text-uppercase" %>
            <%= form.text_field :mf_tank_num, class: "form-control" %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <%= form.label :mixing_1, class: "form-label text-uppercase" %>
            <%= form.text_field :mixing_1, class: "form-control" %>
        </div>
        <div class="col-md-6">
            <%= form.label :mixing_2, class: "form-label text-uppercase" %>
            <%= form.text_field :mixing_2, class: "form-control" %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <%= form.label :shift, class: "form-label text-uppercase" %>
            <%= form.text_field :shift, class: "form-control" %>
        </div>
        <div class="col-md-6">
            <%= form.label :line_number, class: "form-label text-uppercase" %>
            <%= form.number_field :line_number, class: "form-control" %>
        </div>
    </div>

    <div class="mt-3">
        <%= form.submit "Save",class: "btn btn-primary" %>
    </div>
<% end %>
