<%= form_with(model: @pallet, local: true) do |form| %>
    <% if @pallet.errors.any? %>
        <div>
            <h4><%= pluralize(@pallet.errors.count, "error") %> prohibited this pallet from being saved:</h4>
            <ul>
                <% @pallet.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>

        <div>
            <div>
                <h5>General Information</h5>
            </div>
            <div>
                <div>

                    <div>
                        <%= form.label :line_speed %>
                        <%= form.text_field :line_speed, required: false %>
                    </div>

                    <div>
                        <%= form.label :line_number %>
                        <%= form.select :line_number, options_for_select(lines, @pallet.line_number), { prompt: :line_number }, required: false %>
                    </div>

                    <div>
                        <%= form.label :pallet_number %>
                        <%= form.text_field :pallet_number, required: false %>
                    </div>

                    <div>
                        <%= form.label :color_number %>
                        <%= form.text_field :color_number, required: false %>
                    </div>

                </div>

                <div>
                    <div>
                        <%= form.label :shift %>
                        <%= form.select :shift, options_for_select(shifts, @pallet.shift), { prompt: :shift }, required: false %>
                    </div>

                    <div>
                        <%= form.label :date %>
                        <%= form.text_field :date, value: default_date(@pallet), required: false %>
                    </div>

                    <div>
                        <%= form.label :time %>
                        <%= form.text_field :time, value: default_time(@pallet), required: false %>
                    </div>

                    <div>
                        <%= form.label :dimensions %>
                        <%= form.text_field :dimensions, required: false %>
                    </div>

                    <div>
                        <%= form.label :quantity %>
                        <%= form.text_field :quantity, required: false %>
                    </div>

                    <div>
                        <%= form.label :finish %>
                        <%= form.select :finish, options_for_select(finishes, @pallet.finish), { prompt: :finish }, required: false %>
                    </div>

                </div>

                <div>
                    <div>
                        <%= form.label :customer %>
                        <%= form.text_field :customer %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Grammage Card -->
        <div>
            <div>
                <h5>Grammage</h5>
            </div>
            <div>
                <div>
                    <div>
                        <%= form.label :initial_grammage %>
                        <%= form.text_field :initial_grammage, required: false %>
                    </div>
                    <div>
                        <%= form.label "Required Min" %>
                        <%= form.text_field :grammage_min_set, required: false %>
                    </div>
                    <div>
                        <%= form.label "Required Max" %>
                        <%= form.text_field :grammage_max_set, required: false %>
                    </div>

                    <div>
                        <%= form.label "Experimental Min" %>
                        <%= form.text_field :final_grammage_min, required: false %>
                    </div>

                    <div>
                        <%= form.label "Experimental Max" %>
                        <%= form.text_field :final_grammage_max, required: false %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tank and Times Card -->
        <div>
            <div>
                <h5>Tank and Times</h5>
            </div>
            <div>
                <div>
                    <div>
                        <%= form.label :uf_tank_id %>
                        <%= form.select :uf_tank_id, options_from_collection_for_select(@uf_tanks, :id, :display_info, @pallet.uf_tank_id), { prompt: "Select a UF Tank" } %>
                    </div>
                    <div>
                        <%= form.label :mf_tank_id %>
                        <%= form.select :mf_tank_id, options_from_collection_for_select(@mf_tanks, :id, :display_info, @pallet.mf_tank_id), { prompt: "Select a MF Tank" } %>
                    </div>
                    <div>
                        <%= form.label "Experimental Cloudy Time" %>
                        <%= form.text_field :cloudy_time, placeholder: "mm:ss", required: false %>
                    </div>
                    <div>
                        <%= form.label "Experimental Gel Time" %>
                        <%= form.text_field :gel_time, placeholder: "mm:ss", required: false %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Volatile Content Card -->
        <div>
            <div>
                <h5>Volatile Content</h5>
            </div>
            <div>
                <div>
                    <div>
                        <%= form.label "Required min" %>
                        <%= form.text_field :volatile_content_set_min, required: false %>
                    </div>
                    <div>
                        <%= form.label "Required max" %>
                        <%= form.text_field :volatile_content_set_max, required: false %>
                    </div>

                    <div>
                        <%= form.label "Experimental min" %>
                        <%= form.text_field :volatile_content_min, required: false %>
                    </div>
                    <div>
                        <%= form.label "Experimental max" %>
                        <%= form.text_field :volatile_content_max, required: false %>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <h5>Press Information</h5>
            </div>
            <div>
                <div>
                    <div>
                        <%= form.label :glossiness %>
                        <%= form.text_field :glossiness %>
                    </div>
                    <div>
                        <%= form.label :press_quality %>
                        <%= form.text_field :press_quality %>
                    </div>
                    <div>
                        <%= form.label :pallet_quality %>
                        <%= form.text_field :pallet_quality %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Additional Information Card -->
        <div>
            <div>
                <h5>Additional Information</h5>
            </div>
            <div>
                <div>
                    <div>
                        <%= form.label :supervisor %>
                        <%= form.select :supervisor, options_for_select(supervisors, @pallet.supervisor), { prompt: :supervisor }, required: false %>
                    </div>

                    <div>
                        <%= form.label :status %>
                        <%= form.select :status, options_for_select(status, @pallet.status), { prompt: :status }, required: false %>
                    </div>
                </div>

                <!-- Stop Reasons Checkboxes -->
                <div>
                    <div>
                        <%= form.label :stop_reasons, "Stop Reasons" %>
                        <div>
                            <div>
                                <div type="button" id="stopReasonsDropdown">
                                    Select Stop Reasons
                                </div>

                                <ul aria-labelledby="stopReasonsDropdown">
                                    <% @stop_reasons.each do |reason| %>
                                        <li>
                                            <%= check_box_tag 'pallet[stop_reason_ids][]', reason.id, @pallet.stop_reasons.include?(reason), id: "stop_reason_#{reason.id}" %>
                                            <%= label_tag "stop_reason_#{reason.id}", reason.reason %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <%= form.label :custom_stop_reasons, "Other Stop Reasons" %>
                        <%= form.text_field :custom_stop_reasons, placeholder: "Enter new stop reasons, comma-separated" %>
                    </div>
                </div>

                <div>
                    <div>
                        <%= form.label :info %>
                        <%= form.text_area :info, rows: 3 %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Final Information Card -->
        <% if @pallet.persisted? %>
            <div>
                <div>
                    <h5>Final Information</h5>
                </div>
                <div>
                    <div>
                        <div>
                            <%= form.label :final_supervisor %>
                            <%= form.select :final_supervisor, options_for_select(supervisors, @pallet.final_supervisor), { prompt: :supervisor } %>
                        </div>
                        <div>
                            <%= form.label :final_status %>
                            <%= form.select :final_status, options_for_select(status, @pallet.final_status), { prompt: :status } %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>

    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
