<%= form_with(model: @pallet, local: true) do |form| %>
    <% if @pallet.errors.any? %>
        <div class="alert alert-danger">
            <h4 class="alert-heading"><%= pluralize(@pallet.errors.count, "error") %> prohibited this pallet from being
                saved:</h4>
            <ul>
                <% @pallet.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% supervisors = [['Hamza Taffakh', 'Hamza Taffakh'],
                      ['Saeed Khadem', 'Saeed Khadem'],
                      ['Saeed Yousefi', 'Saeed Yousefi'],
                      ['Ahmad Jandane', 'Ahmad Jandane'],
                      ['Navid Mombeiny', 'Navid Mombeiny']
    ].sort

       shifts = [%w[A A], %w[B B], %w[C C]]
       finishes = [%w[Glossy Glossy], %w[Matte Matte], %w[Fancy Fancy]]
       status = [%w[Approved Approved], %w[Stopped Stopped]]
    %>

    <div class="container">

        <!-- General Information Card -->
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">General Information</h5>
            </div>
            <div class="card-body">
                <div class="row mb-3">

                    <div class="col-md-2">
                        <%= form.label :line_speed, class: "form-label" %>
                        <%= form.text_field :line_speed, class: "form-control text-md-center", required: false %>
                    </div>

                    <div class="col-md-5">
                        <%= form.label :pallet_number, class: "form-label" %>
                        <%= form.text_field :pallet_number, class: "form-control text-md-center", required: false %>
                    </div>

                    <div class="col-md-5">
                        <%= form.label :color_number, class: "form-label" %>
                        <%= form.text_field :color_number, class: "form-control text-md-center", required: false %>
                    </div>

                </div>


                <div class="row mb-3">
                    <div class="col-md-2">
                        <%= form.label :shift, class: "form-label" %>
                        <%= form.select :shift, options_for_select(shifts, @pallet.shift), { prompt: :shift }, class: "form-control text-md-center", required: false %>
                    </div>

                    <div class="col-md-2">
                        <%= form.label :date, class: "form-label" %>
                        <%= form.text_field :date, value: if params[:date].present?
                                                            Date.parse(params[:date]).to_parsi
                                                          else
                                                            @pallet.new_record? ? Date.today.to_parsi :  Date.parse(@pallet.date).to_parsi
                                                          end, class: "form-control text-md-center", required: false %>
                    </div>

                    <div class="col-md-2">
                        <%= form.label :time, class: "form-label" %>
                        <%= form.text_field :time, value: if params[:time].present?
                                                            Time.parse(params[:time].to_s).strftime("%H:%M")
                                                          else
                                                            @pallet.new_record? ? Time.now.strftime("%H:%M") : @pallet.time.strftime("%H:%M")
                                                          end, class: "form-control text-md-center", required: false %>
                    </div>

                    <div class="col-md-2">
                        <%= form.label :dimensions, class: "form-label" %>
                        <%= form.text_field :dimensions, class: "form-control text-md-center", required: false %>
                    </div>

                    <div class="col-md-2">
                        <%= form.label :quantity, class: "form-label" %>
                        <%= form.text_field :quantity, class: "form-control text-md-center", required: false %>
                    </div>

                    <div class="col-md-2">
                        <%= form.label :finish, class: "form-label" %>
                        <%= form.select :finish, options_for_select(finishes, @pallet.finish), { prompt: :finish }, class: "form-control text-md-center", required: false %>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col">
                        <%= form.label :customer, class: "form-label" %>
                        <%= form.text_field :customer, class: "form-control" %>
                    </div>

                </div>


            </div>
        </div>

        <!-- Grammage Card -->
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Grammage</h5>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-2">
                        <%= form.label :initial_grammage, class: "form-label" %>
                        <%= form.text_field :initial_grammage, class: "form-control", required: false %>
                    </div>
                    <div class="col-md-3">
                        <%= form.label "Required Min", class: "form-label" %>
                        <%= form.text_field :grammage_min_set, class: "form-control", required: false %>
                    </div>
                    <div class="col-md-3">
                        <%= form.label "Required Max", class: "form-label" %>
                        <%= form.text_field :grammage_max_set, class: "form-control", required: false %>
                    </div>


                    <div class="col-md-2">
                        <%= form.label "Experimental Min", class: "form-label" %>
                        <%= form.text_field :final_grammage_min, class: "form-control", required: false %>
                    </div>

                    <div class="col-md-2">
                        <%= form.label "Experimental Max", class: "form-label" %>
                        <%= form.text_field :final_grammage_max, class: "form-control", required: false %>
                    </div>
                </div>


            </div>
        </div>

        <!-- Tank and Times Card -->
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Tank and Times</h5>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <%= form.label :uf_tank_id, class: "form-label" %>
                        <%= form.select :uf_tank_id, options_from_collection_for_select(@uf_tanks, :id, :display_info, @pallet.uf_tank_id), { prompt: "Select a UF Tank" }, class: "form-control" %>
                    </div>
                    <div class="col-md-3">
                        <%= form.label :mf_tank_id, class: "form-label" %>
                        <%= form.select :mf_tank_id, options_from_collection_for_select(@mf_tanks, :id, :display_info, @pallet.mf_tank_id), { prompt: "Select a MF Tank" }, class: "form-control" %>
                    </div>
                    <div class="col-md-3">
                        <%= form.label "Experimental Cloudy Time", class: "form-label" %>
                        <%= form.text_field :cloudy_time, class: "form-control text-md-center", placeholder: "mm:ss", required: false %>
                    </div>
                    <div class="col-md-3">
                        <%= form.label "Experimental Gel Time", class: "form-label" %>
                        <%= form.text_field :gel_time, class: "form-control text-md-center", placeholder: "mm:ss", required: false %>
                    </div>
                </div>

            </div>
        </div>

        <!-- Volatile Content Card -->
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Volatile Content</h5>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <%= form.label "Required min", class: "form-label" %>
                        <%= form.text_field :volatile_content_set_min, class: "form-control text-md-center", required: false %>
                    </div>
                    <div class="col-md-3">
                        <%= form.label "Required max", class: "form-label" %>
                        <%= form.text_field :volatile_content_set_max, class: "form-control text-md-center", required: false %>
                    </div>

                    <div class="col-md-3">
                        <%= form.label "Experimental min", class: "form-label" %>
                        <%= form.text_field :volatile_content_min, class: "form-control text-md-center", required: false %>
                    </div>
                    <div class="col-md-3">
                        <%= form.label "Experimental max", class: "form-label" %>
                        <%= form.text_field :volatile_content_max, class: "form-control text-md-center", required: false %>
                    </div>
                </div>


            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Press Information</h5>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <%= form.label :glossiness, class: "form-label" %>
                        <%= form.text_field :glossiness, class: "form-control text-md-center" %>
                    </div>
                    <div class="col-md-4">
                        <%= form.label :press_quality, class: "form-label" %>
                        <%= form.text_field :press_quality, class: "form-control text-md-center" %>
                    </div>
                    <div class="col-md-4">
                        <%= form.label :pallet_quality, class: "form-label" %>
                        <%= form.text_field :pallet_quality, class: "form-control  text-md-center" %>
                    </div>
                </div>

            </div>

        </div>

        <!-- Additional Information Card -->
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Additional Information</h5>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <%= form.label :supervisor, class: "form-label" %>
                        <%= form.select :supervisor, options_for_select(supervisors), { prompt: :supervisor }, class: "form-control", required: false %>
                    </div>

                    <div class="col-md-6">
                        <%= form.label :status, class: "form-label" %>
                        <%= form.select :status, options_for_select(status, @pallet.status), { prompt: :status }, class: "form-control", required: false %>
                    </div>

                </div>

                <!-- Stop Reasons Checkboxes -->


                <div class="row">

                    <div class="col-md-6">
                        <%= form.label :stop_reasons, "Stop Reasons", class: "form-label" %>
                        <div class="dropdown">
                            <div class="btn btn-secondary dropdown-toggle w-100" type="button" id="stopReasonsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Select Stop Reasons
                            </div>

                            <ul class="dropdown-menu p-3" aria-labelledby="stopReasonsDropdown">
                                <% @stop_reasons.each do |reason| %>
                                    <li class="form-check">
                                        <%= check_box_tag 'pallet[stop_reason_ids][]', reason.id, @pallet.stop_reasons.include?(reason), id: "stop_reason_#{reason.id}", class: "form-check-input" %>
                                        <%= label_tag "stop_reason_#{reason.id}", reason.reason, class: "form-check-label" %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <%= form.label :custom_stop_reasons, "Other Stop Reasons", class: "form-label" %>
                        <%= form.text_field :custom_stop_reasons, class: "form-control", placeholder: "Enter new stop reasons, comma-separated" %>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <%= form.label :info, class: "form-label" %>
                        <%= form.text_area :info, class: "form-control", rows: 3 %>
                    </div>
                </div>
            </div>
        </div>
        <!-- Final Information Card -->
        <% if @pallet.persisted? %>
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Final Information</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <%= form.label :final_supervisor, class: "form-label" %>
                            <%= form.select :final_supervisor, options_for_select(supervisors, @pallet.final_supervisor), { prompt: :supervisor }, class: "form-control" %>
                        </div>
                        <div class="col-md-6">
                            <%= form.label :final_status, class: "form-label" %>
                            <%= form.select :final_status, options_for_select(status, @pallet.final_status), { prompt: :status }, class: "form-control" %>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <%= form.label :final_stop_reason, class: "form-label" %>
                            <%= form.text_field :final_stop_reason, class: "form-control" %>
                        </div>
                        <div class="col-md-12">
                            <%= form.label :final_info, class: "form-label" %>
                            <%= form.text_area :final_info, class: "form-control" %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>

        <!-- Submit Button -->
        <div class="d-flex mt-3 sticky-bottom bg-light pt-2 pb-2">
            <%= form.submit "Save", class: "btn btn-primary flex-fill" %>
        </div>
    </div>
<% end %>


