<div id="<%= dom_id pallet %>">
  <p>
    <strong>Pallet number:</strong>
    <%= pallet.pallet_number %>
  </p>

  <p>
    <strong>Production date:</strong>
    <%= pallet.production_date %>
  </p>

  <p>
    <strong>Production time:</strong>
    <%= pallet.production_time %>
  </p>

  <p>
    <strong>Color number:</strong>
    <%= pallet.color_number %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= pallet.quantity %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= pallet.customer %>
  </p>

  <p>
    <strong>Initial grammage:</strong>
    <%= pallet.initial_grammage %>
  </p>

  <p>
    <strong>Final grammage min:</strong>
    <%= pallet.final_grammage_min %>
  </p>

  <p>
    <strong>Final grammage max:</strong>
    <%= pallet.final_grammage_max %>
  </p>

  <p>
    <strong>Uf tank:</strong>
    <%= pallet.uf_tank %>
  </p>

  <p>
    <strong>Mf tank:</strong>
    <%= pallet.mf_tank %>
  </p>

  <p>
    <strong>Cloudy time:</strong>
    <%= pallet.cloudy_time %>
  </p>

  <p>
    <strong>Gel time:</strong>
    <%= pallet.gel_time %>
  </p>

  <p>
    <strong>Volatile content set min:</strong>
    <%= pallet.volatile_content_set_min %>
  </p>

  <p>
    <strong>Volatile content set max:</strong>
    <%= pallet.volatile_content_set_max %>
  </p>

  <p>
    <strong>Volatile content min:</strong>
    <%= pallet.volatile_content_min %>
  </p>

  <p>
    <strong>Volatile content max:</strong>
    <%= pallet.volatile_content_max %>
  </p>

  <p>
    <strong>Glossiness:</strong>
    <%= pallet.glossiness %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= pallet.supervisor %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pallet.status %>
  </p>

  <p>
    <strong>Stop reason:</strong>
    <%= pallet.stop_reason %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= pallet.info %>
  </p>

  <p>
    <strong>Final supervisor:</strong>
    <%= pallet.final_supervisor %>
  </p>

  <p>
    <strong>Final status:</strong>
    <%= pallet.final_status %>
  </p>

  <p>
    <strong>Final stop reason:</strong>
    <%= pallet.final_stop_reason %>
  </p>

  <p>
    <strong>Final info:</strong>
    <%= pallet.final_info %>
  </p>

</div>
