<div>
    <%= form_with(model: @reaction_time) do |form| %>
        <% if @reaction_time.errors.any? %>
            <div>
                <h4><%= pluralize(@reaction_time.errors.count, "error") %> prohibited this reaction time from being saved:</h4>
                <ul>
                    <% @reaction_time.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div>

            <div>
                <%= form.label :date %>
                <%= form.text_field :date,
                                    value: if params[:date].present?
                                             Date.parse(params[:date]).to_parsi
                                           else
                                             @reaction_time.new_record? ? Date.today.to_parsi : Date.parse(@reaction_time.date).to_parsi
                                           end %>
            </div>

            <!-- Time Field -->
            <div>
                <%= form.label :time %>
                <%= form.text_field :time,
                                    value: if params[:time].present?
                                             Time.parse(params[:time].to_s).strftime("%H:%M")
                                           else
                                             @reaction_time.new_record? ? Time.now.strftime("%H:%M") : @reaction_time.time.strftime("%H:%M")
                                           end %>
            </div>

            <div>
                <%= form.label :line_number %>
                <%= form.select :line_number, options_for_select(lines, @reaction_time.line_number.present? ? @reaction_time.line_number : params[:line_number]), { prompt: :line_number } %>
            </div>

            <!-- Gel Time Field -->
            <div>
                <%= form.label :gel_time %>
                <%= form.text_field :gel_time %>
            </div>

            <!-- Cloudy Time Field -->
            <div>
                <%= form.label :cloudy_time %>
                <%= form.text_field :cloudy_time %>
            </div>
        </div>

        <div>
            <!-- Submit Button -->
            <div>
                <%= form.submit "Save" %>
            </div>
        </div>
    <% end %>
</div>
