<div>
    <%= form_with(model: @line_stop) do |form| %>
        <% if @line_stop.errors.any? %>
            <div>
                <h4><%= pluralize(@line_stop.errors.count, "error") %> prohibited this line_stop from being saved:</h4>
                <ul>
                    <% @line_stop.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div>
            <!-- Date Field -->
            <div>
                <%= form.label :date %>
                <%= form.text_field :date, value: @line_stop.date, required: false %>
            </div>

            <!-- Line Number Field -->
            <div>
                <%= form.label :line_number %>
                <%= form.select :line_number, options_for_select(lines, @line_stop.line_number.present? ? @line_stop.line_number : params[:line_number]), { prompt: :line_number }, required: false %>
            </div>
        </div>

        <div>
            <!-- Time Stopped Field -->
            <div>
                <%= form.label :time_stopped %>
                <%= form.text_field :time_stopped, value: format("%02d:%02d", @line_stop.time_stopped.hour, @line_stop.time_stopped.min) %>
            </div>

            <!-- Time Restarted Field -->
            <div>
                <%= form.label :time_restarted %>
                <%= form.text_field :time_restarted, value: @line_stop.time_restarted %>
            </div>
        </div>

        <div>
            <!-- Reason Field -->
            <div>
                <%= form.label :reason %>
                <%= form.text_field :reason, value: @line_stop.reason %>
            </div>

            <!-- Shift Field -->
            <div>
                <%= form.label :shift %>
                <%= form.text_field :shift, value: @line_stop.shift %>
            </div>
        </div>

        <div>
            <!-- Submit Button -->
            <div>
                <%= form.submit 'Save' %>
            </div>
        </div>
    <% end %>
</div>
