<div id="<%= dom_id line_stop %>">
  <p>
    <strong>Date:</strong>
    <%= line_stop.date %>
  </p>

  <p>
    <strong>Line number:</strong>
    <%= line_stop.line_number %>
  </p>

  <p>
    <strong>Time stopped:</strong>
    <%= line_stop.time_stopped %>
  </p>

  <p>
    <strong>Time restarted:</strong>
    <%= line_stop.time_restarted %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= line_stop.reason %>
  </p>

  <p>
    <strong>Shift:</strong>
    <%= line_stop.shift %>
  </p>

</div>
