<div>
    <%= form_with(model: @oven) do |form| %>
        <% if @oven.errors.any? %>
            <div>
                <h4><%= pluralize(@oven.errors.count, "error") %> prohibited this oven from being saved:</h4>
                <ul>
                    <% @oven.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div>
            <div>
                <%= form.label :date %>
                <%= form.text_field :date, value: Date.parse(date).to_parsi, required: false %>
            </div>


            <div>
                <%= form.label :time %>
                <%= form.text_field :time,
                                    value: time.to_s, required: false %>
            </div>

            <div>
                <%= form.label :line_number %>
                <%= form.select :line_number, options_for_select(lines, line_number), { prompt: :line_number }, required: false %>
            </div>

            <div>
                <%= form.label :oven_1 %>
                <%= form.number_field :oven_1 %>
            </div>

            <div>
                <%= form.label :oven_2 %>
                <%= form.number_field :oven_2 %>
            </div>

            <div>
                <%= form.label :oven_3 %>
                <%= form.number_field :oven_3 %>
            </div>

            <div>
                <%= form.label :oven_4 %>
                <%= form.number_field :oven_4 %>
            </div>

            <div>
                <%= form.label :oven_5 %>
                <%= form.number_field :oven_5 %>
            </div>

            <div>
                <%= form.label :oven_6 %>
                <%= form.number_field :oven_6 %>
            </div>

            <div>
                <%= form.label :oven_7 %>
                <%= form.number_field :oven_7 %>
            </div>

            <div>
                <%= form.label :oven_8 %>
                <%= form.number_field :oven_8 %>
            </div>

            <div>
                <%= form.label :oven_9 %>
                <%= form.number_field :oven_9 %>
            </div>

            <div>
                <%= form.label :oven_10 %>
                <%= form.number_field :oven_10 %>
            </div>

            <div>
                <%= form.label :oven_11 %>
                <%= form.number_field :oven_11 %>
            </div>
        </div>

        <div>
            <div>
                <%= form.submit 'Save' %>
            </div>
        </div>
    <% end %>
</div>
