<div class="container">
    <%= form_with(model: oven_temp) do |form| %>
        <% if oven_temp.errors.any? %>
            <div class="alert alert-danger">
                <h4><%= pluralize(oven_temp.errors.count, "error") %> prohibited this oven_temp from being saved:</h4>
                <ul>
                    <% oven_temp.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="row">
            <!-- Oven Number Field -->
            <div class="col-md-6">
                <%= form.label :oven_number, class: "form-label" %>
                <%= form.number_field :oven_number, class: "form-control text-md-center" %>
            </div>

            <!-- Temperature Field -->
            <div class="col-md-6">
                <%= form.label :temperature, class: "form-label" %>
                <%= form.text_field :temperature, class: "form-control text-md-center" %>
            </div>
        </div>

        <div class="row mt-3">
            <!-- Date Field -->
            <div class="col-md-6">
                <%= form.label :date, class: "form-label" %>
                <%= form.text_field :date,
                                    value: params[:date].present? ? Date.parse(params[:date]).to_parsi : @oven_temp.new_record? ? Date.today.to_parsi : Date.parse(@oven_temp.date).to_parsi,
                                    class: "form-control text-md-center", required: false %>
            </div>

            <!-- Time Field -->
            <div class="col-md-6">
                <%= form.label :time, class: "form-label" %>
                <%= form.text_field :time,
                                    value: params[:time].present? ? Time.parse(params[:time]).strftime("%H:%M") : @oven_temp.new_record? ? Time.now.strftime("%H:%M") : @oven_temp.time.strftime("%H:%M"),
                                    class: "form-control text-md-center", required: false %>
            </div>
        </div>

        <div class="row mt-4">
            <!-- Submit Button -->
            <div class="col">
                <%= form.submit 'Save', class: "btn btn-primary w-100" %>
            </div>
        </div>
    <% end %>
</div>
