<%= form_with(model: @volatile_content, class: "container mt-4") do |form| %>
    <% if @volatile_content.errors.any? %>
        <div class="alert alert-danger">
            <h4 class="alert-heading"><%= pluralize(@volatile_content.errors.count, "error") %> prohibited this volatile
                content from being saved:</h4>
            <ul>
                <% @volatile_content.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>



    <div class="row mb-3">
        <div class="col-md-3">
            <%= form.label :date, class: "form-label text-uppercase" %>
            <%= form.text_field :date, value: if params[:date].present?
                                                Date.parse(params[:date]).to_parsi
                                              else
                                                @volatile_content.new_record? ? Date.today.to_parsi : Date.parse(@volatile_content.date).to_parsi
                                              end, class: "form-control text-md-center", required: false %>
        </div>
        <div class="col-md-3">
            <%= form.label :time, class: "form-label text-uppercase" %>
            <%= form.text_field :time, value: if params[:time].present?
                                                Time.parse(params[:time].to_s).strftime("%H:%M")
                                              else
                                                @volatile_content.new_record? ? Time.now.strftime("%H:%M") : @volatile_content.time.strftime("%H:%M")
                                              end, class: "form-control text-md-center", required: false %>
        </div>

        <div class="col-md-6">
            <%= form.label :line_number, class: "form-label" %>
            <%= form.select :line_number, options_for_select(lines, @volatile_content.line_number.present? ? @volatile_content.line_number : params[:line_number]), { prompt: :line_number }, class: "form-control text-md-center", required: false %>
        </div>

        <div class="col-md-3">
            <%= form.label :min, class: "form-label text-uppercase" %>
            <%= form.text_field :min, class: "form-control" %>
        </div>
        <div class="col-md-3">
            <%= form.label :max, class: "form-label text-uppercase" %>
            <%= form.text_field :max, class: "form-control" %>
        </div>

        <div class="col-md-3">
            <%= form.label :grammage_min, class: "form-label text-uppercase" %>
            <%= form.text_field :grammage_min, class: "form-control" %>
        </div>
        <div class="col-md-3">
            <%= form.label :grammage_max, class: "form-label text-uppercase" %>
            <%= form.text_field :grammage_max, class: "form-control" %>
        </div>

    </div>



    <div class="mt-3">
        <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>
