<%= form_with(model: @volatile_content) do |form| %>
    <% if @volatile_content.errors.any? %>
        <div>
            <h4><%= pluralize(@volatile_content.errors.count, "error") %> prohibited this volatile content from being
                saved:</h4>
            <ul>
                <% @volatile_content.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <div>
            <div>
                <%= form.label :date %>
                <%= form.text_field :date, value: if params[:date].present?
                                                    Date.parse(params[:date]).to_parsi
                                                  else
                                                    @volatile_content.new_record? ? Date.today.to_parsi : Date.parse(@volatile_content.date).to_parsi
                                                  end %>
            </div>
            <div>
                <%= form.label :time %>
                <%= form.text_field :time, value: if params[:time].present?
                                                    Time.parse(params[:time].to_s).strftime("%H:%M")
                                                  else
                                                    @volatile_content.new_record? ? Time.now.strftime("%H:%M") : @volatile_content.time.strftime("%H:%M")
                                                  end %>
            </div>

            <div>
                <%= form.label :line_number %>
                <%= form.select :line_number, options_for_select(lines, @volatile_content.line_number.present? ? @volatile_content.line_number : params[:line_number]), { prompt: :line_number } %>
            </div>

            <div>
                <%= form.label :min %>
                <%= form.text_field :min %>
            </div>
            <div>
                <%= form.label :max %>
                <%= form.text_field :max %>
            </div>

            <div>
                <%= form.label :grammage_min %>
                <%= form.text_field :grammage_min %>
            </div>
            <div>
                <%= form.label :grammage_max %>
                <%= form.text_field :grammage_max %>
            </div>
        </div>
    </div>

    <div>
        <%= form.submit "Save" %>
    </div>
<% end %>
