<%= form_with(model: @uf_tank, local: true) do |form| %>
    <% if @uf_tank.errors.any? %>
        <div>
            <h4><%= pluralize(@uf_tank.errors.count, "error") %> prohibited this UF Tank from being saved:</h4>
            <ul>
                <% @uf_tank.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% tanks = [%w[1 1], %w[2 2]] %>

    <div>

        <!-- General Information Card -->
        <div>
            <div>
                <h5>UF Tank Analysis</h5>
            </div>
            <div>
                <div>
                    <div>
                        <%= form.label :shift %>
                        <%= form.select :shift, options_for_select(shifts, @uf_tank.shift), { prompt: :shift } %>
                    </div>
                    <div>
                        <%= form.label :tank_number %>
                        <%= form.select :tank_number, options_for_select(tanks, @uf_tank.tank_number), { prompt: :tank_number } %>
                    </div>
                    <div>
                        <%= form.label :date %>
                        <%= form.text_field :date %>
                    </div>
                    <div>
                        <%= form.label :initial_temp %>
                        <%= form.text_field :initial_temp %>
                    </div>
                    <div>
                        <%= form.label :time %>
                        <%= form.text_field :time %>
                    </div>
                    <div>
                        <%= form.label :ph %>
                        <%= form.text_field :ph %>
                    </div>
                    <div>
                        <%= form.label 'Gel Time' %>
                        <%= form.text_field :reaction_time %>
                    </div>
                    <div>
                        <%= form.label :viscosity %>
                        <%= form.text_field :viscosity %>
                    </div>
                    <div>
                        <%= form.label :density %>
                        <%= form.text_field :density %>
                    </div>
                    <div>
                        <%= form.label :solid_content %>
                        <%= form.text_field :solid_content %>
                    </div>
                </div>
            </div>
        </div>
        <!-- Submit Button -->
        <div>
            <%= form.submit "Save" %>
        </div>
    </div>
<% end %>
