<p style="color: green"><%= notice %></p>

<%= render @uf_tank %>

<div>
  <%= link_to "Edit this uf tank", edit_uf_tank_path(@uf_tank) %> |
  <%= link_to "Back to uf tanks", uf_tanks_path %>

  <%= button_to "Destroy this uf tank", @uf_tank, method: :delete %>
</div>
