<p style="color: green"><%= notice %></p>

<%= render @resin_tank %>

<div>
  <%= link_to "Edit this resin tank", edit_resin_tank_path(@resin_tank) %> |
  <%= link_to "Back to resin tanks", resin_tanks_path %>

  <%= button_to "Destroy this resin tank", @resin_tank, method: :delete %>
</div>
