<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QcMonitor</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg sticky-top bg-light-subtle" >
            <div class="container">
                <form action="/pallets" method="get" class="d-flex align-items-center">

                    <%= link_to "QC Monitor", pallets_path, class: "navbar-brand" %>

                    <label>
                        <input type="search" name="query" class="form-control rounded-pill" placeholder="Search..." aria-label="Search">
                    </label>

                    <button type="submit" class="btn rounded-pill">
                        <i class="bi bi-search"></i>
                    </button>

                </form>

                <button class="navbar-toggler rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <%= link_to "Pallets", pallets_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "UF Tank Analysis", uf_tanks_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "MF Tanks Analysis", mf_tanks_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Daily Reports", production_days_path, class: "nav-link" %>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <br>

        <div>
            <%= yield %>
        </div>
    </body>
</html>